body {
    background-color: #0e3f5e;
}

* {
    box-sizing: border-box;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 2rem;
}

#game {
    font-family: 'Courier New', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 20px;
}

button {
    background: linear-gradient(145deg, #42e9b7, #1fbb53);
    border: none;
    color: #060053;
    font-family: 'Courier New', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 3px 6px rgb(51, 145, 204);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 2px rgb(51, 133, 204);
    background: linear-gradient(145deg, #8083e4, #4c4aba);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: 0 2px #aaa;
}

.buttons {
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}